
<% provide(:title, 'All users') %>
<div class="page">
	<div class="content">
	  <div class="usernav">
    	<span class="userlink"><%= link_to "Users", users_path %></span>
    	<span class="userlink"><%= link_to "Profile", current_user %></span>
    	<span class="userlink"><%= link_to "Log out", logout_path, method: "delete" %></span>
        <span class="userlink"><%= link_to "Settings", edit_user_path(current_user) %></span>
      </div>
		<div class="indexlocale">
			<h1>All users</h1>
			<% @users.each do |user| %>
				<div class="form"><%= link_to user.user_name, user %></div>
			<% end %>
		</div>
	</div>
</div>