
<% provide(:title, @user.user_name) %>
<div class="page">
  <div class="content">
	  <div class="usernav">
    	<span class="userlink"><%= link_to "Users", users_path %></span>
    	<span class="userlink"><%= link_to "Profile", current_user %></span>
    	<span class="userlink"><%= link_to "Edit", edit_user_path(current_user) %></span>
    	<span class="userlink"><%= link_to "Log out", logout_path, method: "delete" %></span>
      </div>
    <div class="indexlocale">
      <h2>User Departments</h2>
      <div class="usernav">
        <span class="userlink"><%= link_to "Departments", products_path %></span>
   	  </div>
   	  <table>
		<th>
			department_name
		</th>
		<th>
			ancestry
		</th>
		
		  <% @departments.each do |departments| %>
            <tr>
              <td><%= link_to departments.department_name, edit_department_path(departments) %></td>
              <td><%= departments.ancestry %></td>
            </tr>
		  <% end %>
		</table>
	  <div class="usernav">
        <span class="userlink"><%= link_to "Products", products_path %></span>
        <span class="userlink"><%= link_to "Create Products", new_product_path %></span>
   	  </div>
		<div>
		  <% @products.each do |products| %>
		    <div>
		      <%= products.product_name %>
		    </div>
		  <% end %>
		</div>
	  <div class="usernav">
        <span class="userlink"><%= link_to "Relationships", relationships_path %></span>
        <span class="userlink"><%= link_to "Create Relationships", new_relationship_path %></span>
   	  </div>
		
	</div>
</div>