	<div class="deptprod_room">
<% @products.in_groups_of(3, false) do |product_groups| %>
			<% product_groups.each do |product| %>
			<div class="deptprod_content">
				<span class="deptprod_header">
					<span class="centertext">
						<%= link_to product.product_name, product %>
					</span>
					<hr class="dept"/>
				</span>
				<span class="embed-deptprod-thumbnail-container">
					<%= embed_thumbnail(@department.youtube_id) %>
				</span>
				<span class="affiliate_big_box">
					<span class="price_box">
						<span class="basic"><span class="centertext">$<%= product.msrp %></span></span>
						<span class="basic"><span class="centertext">$<%= product.expected %></span></span>

					</span>
					<span class="source_box">
						<span class="basic"><span class="centertext">MSRP</span></span>
						<span class="basic"><span class="centertext">Expected</span></span>

						</span>
					</span>
					<span class="hideglance">
						<span class="gap"></span>
						<% review = Review.find_by product_id: product %> 
						<% Feature.where("review_id = ? AND feature_type = ?", review, 1).each do |feature| %>
							<span class = "on">
								<%= feature.id %>
							</span><% end %>
						

					</span>
					<span class="hidefeature">
						<span class="gap"></span>

					</span>
					<span class="hidespec">
						<span class="gap"></span>

					</span>
				</span>
			</div>
			<% end %>
		<% unless @department.has_children? %>
			<div class="showstats">
			<%= render "departments/department_topic" %>
				<button class="seller">More Sellers</button>
				<button class="glance">At a Glance</button>
				<button class="feature">Features</button>
				<button class="spec">Specs</button>
			</div>
		<% end %>
	<% end %>
	
	<div class="dept_room">
		<% @children.each do |department| %>
		<div class="dept_content">
			<div class="dept_header">
				<span class="centertext">
					<%= link_to department.department_name, department %>
				</span>
				<hr class="dept"/>
			</div>
			<div class="embed-dept-thumbnail-container">
				<%= embed_thumbnail(department.youtube_thumbnail_id) %>
			</div>
		</div>	
		<% end %>
		<% cache @followers do %>
			<% @followers.each do |follower| %>
				<div class="dept_content">
					<div class="dept_header">
						<span class="centertext">
							<%= link_to follower.department_name, follower %>
						</span>
					<hr class="dept"/>
					</div>
					<div class="embed-dept-thumbnail-container">
						<%= embed_thumbnail(follower.youtube_thumbnail_id) %>
					</div>
				</div>	
			<% end %>
		<% end %>
	</div>
	</div>