		<div class="hidetopic">
		    <div class="hideseller">
		    	<span class="sellerfiller">
		        	<span class="source"><span class="centertext">secret</span></span>
		        	<span class="source"><span class="centertext">place</span></span>
		        	<span class="source"><span class="centertext">here</span></span>
		       	</span>
		    </div>
			<span class="hideglance">
				<span class="gap"></span>
				<span class="onname"><%= @department.first_glance_name %></span>
				<span class="offname"><%= @department.second_glance_name %></span>
				<span class="onname"><%= @department.third_glance_name %></span>
				<span class="offname"><%= @department.fourth_glance_name %></span>
				<span class="onnametwo"><span class="centertext"><%= @department.fifth_glance_name %></span></span>
			</span>
			<span class="hidefeature">
				<span class="gap"></span>
				<span class="onname"><%= @department.first_feature_name %></span>
				<span class="offname"><%= @department.second_feature_name %></span>
				<span class="onname"><%= @department.third_feature_name %></span>
				<span class="offnametwo"><span class="centertext"><%= @department.fourth_feature_name %></span></span>
				<span class="onnametwo"><span class="centertext"><%= @department.fifth_feature_name %></span></span>
			</span>
			<span class="hidespec">
				<span class="gap"></span>
				<span class="onname"><%= @department.first_spec_name %></span>
				<span class="offname"><%= @department.second_spec_name %></span>
				<span class="onname"><%= @department.third_spec_name %></span>
				<span class="offnametwo"><span class="centertext"><%= @department.fourth_spec_name %></span></span>
				<span class="onnametwo"><span class="centertext"><%= @department.fifth_spec_name %></span></span>
			</span>
		</div>
