	<div class="deptprod_room">
	<div>
    	<% @critics.each do |critic| %>	
    	<div>
	    	<% Review.where(critic_id: critic).order(:rank).limit(3).each do |review| %>
    			
					<span class="deptprod_content">
						<span class="deptprod_header">
							<span class="centertext">
								<%= link_to Product.find(review.product_id).id, product_path %>
							</span>
							<hr class="dept"/>
						</span>
						<span class="embed-deptprod-thumbnail-container">
							<%= embed_thumbnail(review.youtube_id) %>
						</span>
						<span class="affiliate_big_box">
							<span class="price_box">
								<span class="basic">
									<span class="centertext">
										$<%= Product.find(review.product_id).msrp %>	
									</span>
								</span>
								<span class="basic">
									<span class="centertext">
										$<%= Product.find(review.product_id).expected %>
									</span>
								</span>
							</span>
							<span class="source_box">
								<span class="basic">
									<span class="centertext">
										MSRP
									</span>
								</span>
								<span class="basic">
									<span class="centertext">
										Expected
									</span>
								</span>
							</span>
						</span>
						<span class="hideglance">
							<span class="gap"></span>
						</span>
						<span class="hidefeature">
							<span class="gap"></span>
						</span>
						<span class="hidespec">
							<span class="gap"></span>
						</span>
					</span>
					<% end %>
			

		<% unless @department.has_children? %>
			<span class="showstats">
			<%= render "departments/department_topic" %>
				<button class="seller">More Sellers</button>
				<button class="glance">At a Glance</button>
				<button class="feature">Features</button>
				<button class="spec">Specs</button>
			</span>
		<% end %>
		</div>
	<% end %>
	</div>
	<div class="dept_room">
		<% @children.each do |department| %>
		<div class="dept_content">
			<div class="dept_header">
				<span class="centertext">
					<%= link_to department.department_name, department %>
				</span>
				<hr class="dept"/>
			</div>
			<div class="embed-dept-thumbnail-container">
				<%= embed_thumbnail(department.youtube_thumbnail_id) %>
			</div>
		</div>	
		<% end %>
		<% cache @followers do %>
			<% @followers.each do |follower| %>
				<div class="dept_content">
					<div class="dept_header">
						<span class="centertext">
							<%= link_to follower.department_name, follower %>
						</span>
					<hr class="dept"/>
					</div>
					<div class="embed-dept-thumbnail-container">
						<%= embed_thumbnail(follower.youtube_thumbnail_id) %>
					</div>
				</div>	
			<% end %>
		<% end %>
	</div>
	</div>