<body>
<% cache(["index_depts", @departments.map(&:id), @departments.maximum(:updated_at)]) do %>
  <div class="page">
      <%= render "departments/index_sidebar" %>
    <div class="content">
      <h1 class="indexlocale">
        Clerkable
      </h1>
      <div class="flash">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %></div>
      <div class="embed-dept-container">
        <%= embed("Rd8n74XDQUY") %>
      </div>
    </div>
      <div class="index_room">
        <% @departments.each do |department| %>    
          <div class="index_content">
            <div class="index_header">
              <span class="centertext">
                <%= link_to department.department_name, department %>
              </span>
              <hr class="index"/>
            </div>
            <div class="embed-index-thumbnail-container">
              <%= embed_thumbnail(department.youtube_thumbnail_id) %>
            </div>
          </div>  
        <% end %>
      </div>
  </div>
  <% end %>
</body>
