<% provide(:title, @department.department_name) %>

<body>
	<div class="content">
		<%= render "layouts/sidebar" %>
		<div class="content-sidebar">
		<div class="breadcrumbs">
			<%= render "layouts/breadcrumbs" %>
		</div>
			<h1 class="breadsecond">
				<%= @department.department_name %>
			</h1>

		<div class="embed-container">
			<%= embed(@department.youtube_id) %>
		</div>
		
		<%= render "departments/department_head" %>
		</div>
	</div>
</body>