<% cache @department do %>
<% provide(:title, @department.department_name) %>

<body>
	<div class="page">
		<%= render "departments/department_sidebar" %>
		<div class="content">
			<%= render "layouts/breadcrumbs" %>
			<h1 class="title">
				<%= @department.department_name %>
			</h1>
			<div class="embed-container">
				<%= embed(@department.youtube_id) %>
			</div>
			<%= render "departments/department_head" %>
		</div>
	</div>
</body>
<% end %>