<% provide(:title, @department.department_name) %>

<body>
	<div class="page">
		<%= render "departments/department_sidebar" %>
		<div class="content">
			<span class="breadcrumbs"><%= render "layouts/breadcrumbs" %></span>
			<h1 class="breadsecond">
				<%= @department.department_name %>
			</h1>
			<div class="embed-container">
				<%= embed(@department.youtube_id) %>
			</div>
			<%= render "departments/department_head" %>
		</div>
		<%= render "departments/department_topic" %>
	</div>
</body>