<div class="prod_room">
	<div class="product_content">
		<div class="product_header">
			<span class="centertext">
				<%= @product.product_name %>
			</span>
			<hr class="prod"/>
		</div>	
		<div class="embed-thumbnail-container">
			<%= embed_thumbnail(@product.youtube_thumbnail_id) %>
		</div>
		<div class="affiliate_box">
			<div class="price_box">
				<span class="basic"><span class="centertext">$<%= @product.msrp %></span></span>
				<span class="basic"><span class="centertext">$<%= @product.expected %></span></span>

				<span class="hideseller">

				</span>
			</div>
			<div class="source_box">
				<span class="basic"><span class="centertext">MSRP</span></span>
				<span class="basic"><span class="centertext">Expected</span></span>

				<span class="hideseller">

				</span>
			</div>
			<span class="hideglance">
				<span class="gap"></span>

			</span>
			<span class="hidefeature">
				<span class="gap"></span>

			</span>
			<span class="hidespec">
				<span class="gap"></span>

			</span>
		</div>
	</div>
	<div class="product_room">
		<div class="scrollprod">
			<% @products.each do |product| %>
			<div class="product_content">			
				<span class="product_header">
					<span class="centertext">
						<%= link_to product.product_name, product %>
					</span>
					<hr class="dept"/>
				</span>
				<span class="embed-thumbnail-container">
					<%= embed_thumbnail(@department.youtube_id) %>
				</span>
				<span class="affiliate_box">
					<span class="price_box">
						<span class="basic"><span class="centertext">$<%= product.msrp %></span></span>
						<span class="basic"><span class="centertext">$<%= product.expected %></span></span>

						<span class="hideseller">

						</span>
					</span>
					<span class="source_box">
						<span class="basic"><span class="centertext">MSRP</span></span>
						<span class="basic"><span class="centertext">Expected</span></span>

						<span class="hideseller">

						</span>
					</span>
					<span class="hideglance">
						<span class="gap"></span>
	
					</span>
					<span class="hidefeature">
						<span class="gap"></span>

					</span>
					<span class="hidespec">
						<span class="gap"></span>

					</span>
				</span>
			</div>
			<% end %>
		</div>
	</div>
	<div class="showstats">
		<button class="seller">More Sellers</button>
		<button class="glance">At a Glance</button>
		<button class="feature">Features</button>
		<button class="spec">Specs</button>
	</div>
</div>