
<% provide(:title, 'All Products') %>
<style>

</style>
<div class="page">
	<div class="content">
	  <div class="usernav">
	    <span class="userlink"><%= link_to "Profile", current_user %></span>
    	<span class="userlink"><%= link_to "Create", new_product_path %></span>
      </div>
		<div class="indexlocale">
			<h1>All Products</h1>
			<%= will_paginate %>
			<table>
				<th>
					product_name
				</th>
				<th>
					department_id
				</th>
				<% @products.each do |product| %>
					<tr>
						<td>
							<%= link_to product.product_name, edit_product_path(product)  %>
						</td>
						<td>
							<%= product.department_id %>
						</td>
						<td><%= link_to "delete", product, method: :delete, data: { confirm: "Delete this?"} %></td>
					</tr>
				<% end %>
			</table>
			<%= will_paginate %>
		</div>
	</div>
</div>