<% provide(:title, @product.product_name) %>

<body>
	<div class="page">
		<%= render "products/product_sidebar" %>
		<div class="content">
			<div class="breadcrumbs">
				<%= render "layouts/breadcrumbs" %>
			</div>
			<h1 class="breadsecond">
				<%= @product.product_name %>
			</h1>
			<div class="embed-container">
				<%= embed(@product.youtube_id) %>
			</div>
			<%= render "products/product_head" %>
		</div>

		
		<div class="hideproducts">
		    <div class="hideseller">
		    	<span class="sellerfiller">
		        	secret
		        	</br>
		        	place
		        	</br>
		        	here
		        	</br>
		       	</span>
		    </div>
			<span class="hideglance">
				<span class="gap"></span>
				<span class="onname"><%= @department.first_glance_name %></span>
				<span class="offname"><%= @department.second_glance_name %></span>
				<span class="onname"><%= @department.third_glance_name %></span>
				<span class="offname"><%= @department.fourth_glance_name %></span>
				<span class="onnametwo"><%= @department.fifth_glance_name %></span>
			</span>
			<span class="hidefeature">
				<span class="gap"></span>
				<span class="onname"><%= @department.first_feature_name %></span>
				<span class="offname"><%= @department.second_feature_name %></span>
				<span class="onname"><%= @department.third_feature_name %></span>
				<span class="offnametwo"><%= @department.fourth_feature_name %></span>
				<span class="onnametwo"><%= @department.fifth_feature_name %></span>
			</span>
			<span class="hidespec">
				<span class="gap"></span>
				<span class="onname"><%= @department.first_spec_name %></span>
				<span class="offname"><%= @department.second_spec_name %></span>
				<span class="onname"><%= @department.third_spec_name %></span>
				<span class="offnametwo"><%= @department.fourth_spec_name %></span>
				<span class="onnametwo"><%= @department.fifth_spec_name %></span>
			</span>
		</div>
	</div>
</body>