<% provide(:title, @product.product_name) %>

<body>
	<div class="content">
		
		<%= render "products/product_sidebar" %>
		<div class="front">
			<%= render "layouts/breadcrumbs" %>
			<h1>
				<%= @product.product_name %>
			</h1>
		</div>
		<div class="embed-container">
			<%= embed(@product.youtube_id) %>
		</div>
		<div>
			Here I want, a playlist, or thumnails of additional helpful videos. That covers things like, unboxing, ports, all the data I can think of.
			Here I want, a playlist, or thumnails of additional helpful videos. That covers things like, unboxing, ports, all the data I can think of.
		</div>

			<%= render "products/product_head" %>
		<div>
			More Less
		</div>

		<div class="center">
			<%= will_paginate @items %>	
		</div>

		
	</div>
</body>