<% provide(:title, @product.product_name) %>

<body>
	<div class="page">
		<%= render "products/product_sidebar" %>
		<div class="content">
			<div class="breadcrumbs">
				<%= render "layouts/breadcrumbs" %>
			</div>
			<h1 class="breadsecond">
				<%= @product.product_name %>
			</h1>
			<div class="embed-container">
				<%= embed(@product.youtube_id) %>
			</div>
			<%= render "products/product_head" %>
		</div>
	</div>
</body>