<header class="navbar">
	<div class="hamburger">
        <div class="ham"></div>
        <div class="ham"></div>
        <div class="ham"></div>
    </div>
    <div>
    	<%= link_to "Clerkable", root_path, id: "logo" %>
    </div>
    <% if logged_in? %>
       <div class="dropdown">
           <button class="dropbtn">V</button>
           <div class="dropdown-content">
               <%= link_to "Users", users_path %>
               <%= link_to "Profile", current_user %>
               <%= link_to "Settings", edit_user_path(current_user) %>
               <%= link_to "Log out", logout_path, method: "delete" %>
           </div>
           
           </div>
    <% else %>
       <div class="mininav">
           <%= link_to "Log In", login_path %>
       </div>
    <% end %>
</header>